
.certain-box > p {
    color: #ffffff !important;
  }
  .certain-box {
    filter: drop-shadow(0px 4px 4px rgba(108, 108, 108, 0.25)) !important;
    background: #33835c !important;
    border-radius: 4px;
    border: none !important;
  }
  .certain-box > .frame {
    border: 1.5px solid #ffffff;
  }
  .certain-box > .frame > svg > path {
    fill: #ffffff;
  }
   
  .container-confirm {
    color: white !important;
    background: #33835C !important;
    border: none !important;
  }
 