<div class="contain">
    <div class="complaints">
        <div class="">
            <div class="complaint-box">
                <p>  شكاوي جديدة </p>
                <span>150</span>
            </div>
        </div>
        <div class="">
            <div class="complaint-box">
                <p> شكاوي تم اعتمادها</p>
                <span>150</span>
            </div>
        </div>
        <div class="">
            <div class="complaint-box">
                <p>الشكاوي المرفوضة</p>
                <span>44</span>
            </div>
        </div>
        <div class="">
            <div class="complaint-box">
                <p>الشكاوي المرفوضة</p>
                <span>44</span>
            </div>
        </div>
    </div>
    <div class="new-complaints">
        <div class="frame">
           <h1>الشكاوي الجديدة</h1>
        </div>
        <div class="frame">
            <p>التاريخ</p>
            <select name="all" id="">
                      <option value="all">الكل</option>
            </select> 
        </div>
        <div class="frame">
            <p>التصنيف</p>
            <select name="all" id="">
                      <option value="all">الكل</option>
            </select> 
        </div>
        <div class="frame">
            <p>الحالة</p>
            <select name="all" id="">
                      <option value="all">الكل</option>
            </select> 
        </div>
       
    </div>
    <table >
        <thead>
            <tr>
                <th>رقم الشكوي</th>
                <th>نوع الشكوي</th>
                <th>تاريخ الشكوي</th>
                <th>المدينة</th>
                <th>الادارة</th>
                <th>الحالة</th>
                <th>عرض</th>
            </tr>
        </thead>
        <tbody>
            <tr> 
                <td>1</td>
                <td>شكوى 1</td>
                <td> مايو ,4 ,2023</td>
                <td>الرياض</td>
                <td>ادارة الشكاوي</td>
                <td>تم قبولها</td>
                <td>
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8C1 8 5 1.5 12 1.5C19 1.5 23 8 23 8C23 8 19 14.5 12 14.5C5 14.5 1 8 1 8Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 10.4375C13.6569 10.4375 15 9.34619 15 8C15 6.65381 13.6569 5.5625 12 5.5625C10.3431 5.5625 9 6.65381 9 8C9 9.34619 10.3431 10.4375 12 10.4375Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </td>
            </tr>
            <tr> 
                <td>2</td>
                <td>شكوى 1</td>
                <td> مايو ,4 ,2023</td>
                <td>الرياض</td>
                <td>ادارة الشكاوي</td>
                <td>تم قبولها</td>
                <td>
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8C1 8 5 1.5 12 1.5C19 1.5 23 8 23 8C23 8 19 14.5 12 14.5C5 14.5 1 8 1 8Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 10.4375C13.6569 10.4375 15 9.34619 15 8C15 6.65381 13.6569 5.5625 12 5.5625C10.3431 5.5625 9 6.65381 9 8C9 9.34619 10.3431 10.4375 12 10.4375Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </td>
            </tr>
            <tr> 
                <td>3</td>
                <td>شكوى 1</td>
                <td> مايو ,4 ,2023</td>
                <td>الرياض</td>
                <td>ادارة الشكاوي</td>
                <td>تم قبولها</td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="16" viewBox="0 0 24 16" fill="none">
                        <path d="M1 8C1 8 5 1.5 12 1.5C19 1.5 23 8 23 8C23 8 19 14.5 12 14.5C5 14.5 1 8 1 8Z" stroke="#3485AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 10.4375C13.6569 10.4375 15 9.34619 15 8C15 6.65381 13.6569 5.5625 12 5.5625C10.3431 5.5625 9 6.65381 9 8C9 9.34619 10.3431 10.4375 12 10.4375Z" stroke="#3485AA" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                        
                </td>
            </tr>
            <tr> 
                <td>4</td>
                <td>شكوى 1</td>
                <td> مايو ,4 ,2023</td>
                <td>الرياض</td>
                <td>ادارة الشكاوي</td>
                <td>تم قبولها</td>
                <td>
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8C1 8 5 1.5 12 1.5C19 1.5 23 8 23 8C23 8 19 14.5 12 14.5C5 14.5 1 8 1 8Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 10.4375C13.6569 10.4375 15 9.34619 15 8C15 6.65381 13.6569 5.5625 12 5.5625C10.3431 5.5625 9 6.65381 9 8C9 9.34619 10.3431 10.4375 12 10.4375Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </td>
            </tr>
            <tr> 
                <td>5</td>
                <td>شكوى 1</td>
                <td> مايو ,4 ,2023</td>
                <td>الرياض</td>
                <td>ادارة الشكاوي</td>
                <td>تم قبولها</td>
                <td>
                    <svg width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 8C1 8 5 1.5 12 1.5C19 1.5 23 8 23 8C23 8 19 14.5 12 14.5C5 14.5 1 8 1 8Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 10.4375C13.6569 10.4375 15 9.34619 15 8C15 6.65381 13.6569 5.5625 12 5.5625C10.3431 5.5625 9 6.65381 9 8C9 9.34619 10.3431 10.4375 12 10.4375Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        
                </td>
            </tr>
        </tbody> 
    </table>
</div>
